body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    /* padding:0 50px 0 50px; */
}
.hero, .footer{
    background: #1F2937;
    color: #E5E7EB;
}
.hero-main-text{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
ul{
    font-size: 18px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:any-link{
    color: #E5E7EB;
}
.header-logo-text{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 700;
}
button{
    background: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 700;
    border: #3882F6 solid 1px;
    border-radius: 5px;
    padding: 5px 35px 5px 35px;
    margin: 10px 0 10px 0;
}
.info-header-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.itemplaceholder{
    width: 150px;
    height: 150px;
    border: #3882F6 solid 4px;
    border-radius: 20px;
}
.quote{
    background: #E5E7EB;
}
.qoute-text{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}
.credits{
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
}
.call-to-action{
    background: #3882F6; 
}
.actiontitle{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
}
.call-to-action Button{
    border-color: #F9FAF8;
}

/* arrangement */
body{
    display: flex;
    flex-direction: column;
}
.actions{
    flex:1;
}
.hero, .header, .highlights{
    border: firebrick dotted 2px;
}
.hero{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    margin: 0px;
    gap:20px;
}
/* li{
    padding: 0 10px;
} */
.highlights{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:50px
}
.text{
    width: 150px;
    text-align: center;
    margin-top: 5px;
    color: #1F2937;
}
.credits{
    text-align: right;
}
.call-to-action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.footertext{
    text-align: center;
}
/* margin and padding */
.hero, .info, .quote, .footer{
    padding:0 200px 0 200px;
}
.highlights
{
    padding: 100px 0 120px;
}
.left-links, right-links{
    padding: 10px 0 10px 0;
}
.header-logo-text{
    margin-left: 20px;
}
.keymsg{
    padding: 10px;
    margin: 10px;
}
.info-header-text{
    padding: 30px 0 50px 0;
}
.items{
    padding: 0 0 100px 0;
}
.qoute-text{
    margin-top: 100px;
}
.credits{
    margin-bottom: 100px;
}
.actions{
    padding: 0px 350px 0px 350px;
}
.call-to-action{
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
}
.actiontext{
    color: #F9FAF8;
}
.footertext
{
    padding: 50px 0 50px 0;
}